<div class="w-full">
  <div class="flex items-center justify-between space-x-0.5">
    <h1 class="text-4xl">Grocery Lists</h1>

    <%= link_to 'Create A List', new_grocery_list_path, class: 'py-1 px-2 inline-flex border-2 border-blue-600 rounded cursor-pointer hover:bg-[#0069d9] hover:text-white' %>
  </div>
  <div>
    <ul class="list-disc list-inside">
      <% @grocery_lists.each do |grocery_list| %>
        <li><%= link_to grocery_list.title, grocery_list_path(grocery_list), class: "text-blue-600 visited:text-purple-600" %></li>
      <% end %>
    </ul>
  </div>
</div>
